<form class="custom-form" method="post">
  <h1 style="margin: bottom 2%">Portal Docente TWK</h1>

  <div class="mb-3">
    <label for="rutLogin" class="form-label">
      Rut
    </label>
    <input type="text" class="form-control" id="inputRut" name="rutLogin" maxlength="10" placeholder="12345678-9"
      [(ngModel)]="inputRut" (keyup)="onKeyUpEventRut($event)" />
  </div>

  <div *ngIf="rutInvalido" id="rutHelp" class="form-text">
    Ingrese rut correcto. Solo con guión (-)
  </div>

  <div class="mb-3">
    <label for="passLogin" class="form-label">
      Contraseña
    </label>
    <input type="password" class="form-control" id="inputPass" name="passLogin" [(ngModel)]="inputPassword" />
  </div>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="switchRecUser" name="switchRecUser"
      [(ngModel)]="rememberUserSwitch" />
    <label class="form-check-label" for="switchUserLogin">
      Recordar usuario
    </label>
  </div>

  <div *ngIf="rutInvalido"   class="mb-3">
    <button type="submit" class="btn btn-primary" disabled>
      Entrar
    </button>
  </div>
  <div *ngIf="!rutInvalido" class="mb-3">
    <button [routerLink]="['home']" type="submit" class="btn btn-primary" (click)="login()">
      Entrar
    </button>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary" [routerLink]="['setPassword']">
      Recuperar contrasena
    </button>
  </div>

</form>