<div class="login">
    <form class="custom-form" method="post">
      <h1>Portal Docente TWK</h1>
      <input
        type="Rut"
        name="Rut"
        placeholder="RUT"
        required="required"
      />
      
      <label class="container">Recordar usuario
        <input type="checkbox" checked="checked" >
        <span  class="checkmark"></span>
      </label>

      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        required="required"
      />
      <button type="submit">Entrar</button>
      <br>
      <button>Recuperar Contraseña</button>
    </form>
   <!--  <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Default checkbox
        </label>
      </div> -->
  </div>