<img id="logoTWK" src="https://i.ibb.co/4smmmTH/Logo-PDTWK.png" border="0">

<p class="title">Bienvenido a Portal Docente TWK</p>


<form class="custom-form needs-validation" novalidate method="post">
  

  <div class="mb-3">
    <label for="validationCustom01" class="form-label">
      Ingrese su RUT
    </label>
    <input type="text" class="form-control item" id="validationCustom01" name="rutLogin" maxlength="10"
      placeholder="12345678-9" [(ngModel)]="inputRut" required (keyup)="onKeyUpEventRut($event)" />
    <div class="valid-feedback">
      Válido
    </div>
    <div class="invalid-feedback">
      Ingrese RUT válido.
    </div>
  </div>

  <div *ngIf="rutInvalido" id="rutHelp" class="form-text">
    Ingrese RUT válido.
  </div>

  <div class="mb-3">
    <label for="validationCustom02" class="form-label">
      Ingrese su Contraseña
    </label>
    <input type="password" class="form-control" id="validationCustom02" name="passLogin" [(ngModel)]="inputPassword"
      required>
  </div>
  <div *ngIf="passInvalida" id="passHelp" class="form-text">
    El usuario y/o contraseña no son correctos
  </div>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="switchRecUser" name="switchRecUser"
      [(ngModel)]="rememberUserSwitch" required>
    <label class="form-check-label" for="switchUserLogin">
      Recordar usuario
    </label>
  </div>




  <div class="botones">
    <div *ngIf="rutInvalido" class="mb-3"> 
      <button type="submit" class="btn btn-primary" disabled>
        Ingresar
      </button>
    </div>
    <div *ngIf="!rutInvalido" class="mb-3">
      <button type="submit" class="btn btn-primary" (click)="login()">
        Ingresar
      </button>
    </div>
    
  </div>

  
  <!-- <div>
    <button [routerLink]="['notas']">Notas>notas</button>
  </div> -->

</form>