<header>
    <!-- As a link -->
    <nav class="navbar navbar-expand bg-faded">
        <div class="container-fluid navbar-dark bg-dark">
          <a class="navbar-brand" href="#">TWK</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" (click)="logout()" href="#">LogOut</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
</header>
 
<h1>Lista de alumnos</h1>
<table>
  <ul>
    <li *ngFor="let students of alumnos>
      {{ id,alumnos}}
    </li>
  </ul>
</table>