<header>
  <!-- As a link -->
  <nav class="navbar navbar-expand bg-faded">
    <div class="container-fluid navbar-dark" style="background-color: #002471">
      <a [routerLink]="['Home']"><img id="logoTWK" src="https://i.ibb.co/2Y8Qj3t/Logo-PDTWK-bordeblanco.png" alt="Logo-PDTWK-bordeblanco" border="0"></a>
      <div class="collapse_nav navbar-collapse" id="navbarNav">
        <!-- <ul class="navbar-nav">
          <li class="nav-item">
            <a><button type="button" class="btn btn-primary" [routerLink]="['Home']">Inicio</button></a>
          </li>
        </ul> -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a><button type="button" class="btn btn-danger" (click)="logout()"><i class="cerr-ses bi bi-box-arrow-right"></i>
            </button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<p class="titulo">
  Bienvenido Docente {{ user.name }} {{ user.lastname }}
</p>
<p class="subtitulo">
  Estas son tus asignaturas del semestre. 
  Haz click para ver los detalles de cada una.
</p>

<div class="list-group mt-5">
  <div *ngFor="let course of courseList; let i = index">
    <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" [attr.data-bs-target]="'#data' + i">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1-nombre">{{ course.name }}</h5>
      </div>
      <p class="mb-1-codigo">Código : {{ course.code }}</p>
    </a>
    <div class="collapse" [attr.id]="'data' + i">
      <div class="card card-body">
        <div class="detalles">
          <small> Codigo Profesor: {{ course.teacherCode }}<br></small>
          <small> Año: {{ course.year }}<br></small>
          <small> Semestre: {{ course.semester }}<br></small>
          <small> Jornada: {{ course.jornada }}</small>
        </div>
        <div class="btn-acceso">
          <button type="submit" routerLink="/subject/{{ course.code }}" class="btn btn-primary">
            Calificaciones
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
<!-- <div class="accordion" id="accordionExample">
  <div class="accordion-item" *ngFor="let course of courseList; let i = index" >
      <a class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#data'+i">
        {{ course.name }}
    </a>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body" [attr.id]="'data'+i">
        {{ course.codeTeacher }}
      </div>
    </div>
  </div>

</div> -->

<!-- <div>
    <li class="list-group-item" *ngFor="let course of courseList; let i = index">
      <div>
        <a class="btn btn-primary" data-bs-toggle="collapse" [href]="'#collapseId' + i" role="button"
          aria-expanded="false" aria-controls="collapseExample">
          {{ course.name }}
        </a>
        <div style="float: right" class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModal"> Modificar</button>

            
         
          <button type="button" class="btn btn-danger" > Eliminar</button>
            
          
        </div>
      </div>

      <div class="collapse" [id]="'collapseId' + i">
        <div class="card card-body">
          <b>Descripción: </b> {{ course.section }}

        </div>
      </div>
    </li>
  </div> -->